{% extends 'base.html' %}
{% load static %}
{% block title %}Download PubMed data into an XML file{% endblock %}
{% block styles %}<link href="{% static 'pubdata2xl/css/style.css' %}" rel="stylesheet" crossorigin="anonymous">{% endblock %}
{% block lead %}Web application to download PubMed data into an XML file{% endblock %}
{% block description%}Export thousands of PubMed citations to an XML file. Free, no ads, secure, encrypted, privacy, untraceable and simple to use.{% endblock %}
{% block logo_link_url %}{% url 'pubdata2xl:download_excel' %}{% endblock %}
{% block left_link_url %}{% url 'pubdata2xl:download_excel' %}{% endblock %}
{% block left_link_text %}Download to Excel{% endblock %}
{% block right_link_url %}{% url 'pubdata2xl:news' %}{% endblock %}
{% block right_link_text %}News{% endblock %}
{% block content %}{% include 'pubdata2xl/form.html' %}{% endblock %}
{% block jscript %}
    <script src="{% static 'pubdata2xl/js/rows_counter.js' %}"></script>
{% endblock %}

